---
ec2_name_prefix: Test-Cisco
ec2_region: ap-southeast-2
ec2_wait: yes
#need to circle back and fix this for teardown - sean
ec2_az: "{{ec2_region}}a"
ec2_subnet: "172.20.1.0/24"
ec2_subnet2: "172.20.2.0/24"
ec2_vpc_subnet_id: "subnet-0af40673590a7497b"
ec2_vpc_subnet_id2: "subnet-08089b808dd7d79c8"
ec2_security_group: "sandpit-1"
ec2_security_group2: "sandpit-2"
student_total: 1
ec2_vpc_id: vpc-0020c8361e420fcd3
ec2_vpc_id2: vpc-0020c8361e420fcd3

networking: false
ssh_port: 22

ec2_lab_node_types_networking:
  tios1: csr-byol
  tios2: csr-byol


# Instance types used for lab configurations
ec2_instance_types:
  csr-byol:
    owners: 679593333241
    size: t2.medium
    os_type: linux
    disk_space: 20
    architecture: x86_64
    filter: "cisco-CSR*BYOL*"
    os: ios

# Login names used for SSH connections. These are baked in to the AMIs.
ec2_login_names:
  csr-byol: ec2-user