---
ec2_name_prefix: Test-Cisco
ec2_region: us-east-1
ec2_wait: yes
#need to circle back and fix this for teardown - sean
ec2_az: "{{ec2_region}}a"
ec2_subnet: "172.16.0.0/16"
ec2_subnet2: "172.17.0.0/16"
ec2_vpc_subnet_id: "Cisco-subnet"
ec2_vpc_subnet_id2: "subnet-0da338d16352f33bc"
ec2_security_group: "sg-0990a34c22a618226"
ec2_security_group2: "sg-0a6952a29e28f646a"
student_total: 1

networking: false
ssh_port: 22

ec2_lab_node_types_networking:
  tios1: csr-byol
  tios2: csr-byol
  tios3: csr-byol
  tios4: csr-byol

# Instance types used for lab configurations
ec2_instance_types:

  csr-byol:
    owners: 679593333241
    size: t2.medium
    os_type: linux
    disk_space: 20
    architecture: x86_64
    filter: "cisco-CSR*BYOL*"
    os: ios

# Login names used for SSH connections. These are baked in to the AMIs.
ec2_login_names:
  csr-byol: ec2-user